<main class="d-flex h-100 align-items-center">
    <div class="container">
        <h1 class="text-white">Share or Join a Community!</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti praesentium ut laboriosam.</p>
        <div class="text-white">
            <button class="josh-btn">uno</button>
            <button class="josh-btn">dos</button>
        </div>
    </div>
</main>
