/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
@import "nav";

.flash-notice{
    color: green;
}
.flash-alert{
    color: red;
}

.josh-btn{
    padding: 5px 20px;
    background: blue;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid blue;
    transition: all .5s ease;
}
  
.josh-btn:hover{
    background: transparent;
}

.main-banner{
    background-size: cover;
    background-position: left;
    height: 100vh;
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .main-banner{
        background-position: center;
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 1000px) { 
    .main-banner{
        background-position: center;
    }
}
