.communities{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.community{
    background: rgba(204, 204, 204, 0.507);
}

@media (max-width: 1000px) { 
    .responsive-c{
        flex-direction: column;
    }
    .communities{
        grid-template-columns: auto;
    }
}

