.validation-error{
    transform: translateX(-200%);
    animation-name: appear;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
  @keyframes appear{
      from{
        transform: translateX(-100%)
      }
      to{
        transform: translateX(0)
      }
  }